*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background:#161616;
    font-family: sans-serif;
}
/*Header /Hero section */
.container{
    width: 100%;
    min-height: 100vh;
    padding: 70px 20px;

    background-image: url('home.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0d0404;
}

.container h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.container p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Search Box */
.searchBox{
    max-width: 600px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBox input{
    padding: 12px;
    width: 70%;
    border-radius: 5px 0 0 5px;
    outline: 0;
    border: 1px solid rgb(228,69,69);
    font-size: 1rem;
}
.searchBox button{
    padding:12px 20px;
    background: rgb(240,72,72);
    border:0;
    outline: none;
    border: 1px solid rgb(221,59,59);
    font-size: 1rem;
    color: black;
    font-weight: 600;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

/*Not found /massage */
.notFound{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #ffff;   
}

/* Recipes grid */
.recipes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.recipe-card{
    width: 200px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.recipe-card img{
    width: 100%;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.recipe-card button{
    padding: 4px 10px;
    background: rgb(91,167,91);
    color:#161616;
    border-radius: 5px;
    border: 0;
    margin: 10px 0;
    cursor: pointer;
}

.popup-card{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    z-index: 10;
    border: 2px solid red;
    display: none;
    
}
.popup-card h3{
    margin: 12px 0;
    color:#333;
    font-size: 22px;
}
.popup-card p{
    margin: 12px 0;
    color:#333;
    font-size: 16px;
    overflow-y: auto;
    max-height: 280px;
    padding-right: 10px;
}
.close-btn{
    position: absolute;
    top: 20px;
    right: 30px;
    background: rgb(235, 103, 132);
    padding: 5px;
    border: 0;
    border-radius: 6px;
    color:black;
    font-weight: 600;
    cursor: pointer;
}